---
import AppStore from "../icons/AppStore.astro";
import PlayStore from "../icons/PlayStore.astro";
import LinkButton from "../components/LinkButton.astro";
import Briefcase from "../icons/Briefcase.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ReactNative from "../icons/ReactNative.astro";
import Firebase from "../icons/Firebase.astro";
import Flutter from "../icons/Flutter.astro";
import JavaScript from "../icons/JavaScript.astro";
import Dart from "../icons/Dart.astro";
import TypeScript from "../icons/TypeScript.astro";
import Expo from "../icons/Expo.astro";

const TAGS = {
    REACT_NATIVE: {
        name: "React Native",
        class: "bg-cyan-800/40 text-white",
        icon: ReactNative,
    },
    FLUTTER: {
        name: "Flutter",
        class: "bg-cyan-600 text-white",
        icon: Flutter,
    },
    FIREBASE: {
        name: "Firebase",
        class: "bg-white text-gray-800",
        icon: Firebase,
    },
    JS: {
        name: "JavaScript",
        class: "bg-neutral-500/80 text-white",
        icon: JavaScript,
    },
    TYPESCRIPT: {
        name: "TypeScript",
        class: "bg-cyan-900/50 text-white",
        icon: TypeScript,
    },
    DART: {
        name: "DART",
        class: "bg-blue-600 text-white",
        icon: Dart,
    },
    EXPO: {
        name: "Expo",
        class: "bg-slate-700/90 text-white",
        icon: Expo,
    },
};

const PROJECTS = [
    {
        title: "APORDOM - App  Autoridad Portuaria Dominicana",
        description:
            "Aplicacion Informativa de la Autoridad Portuaria de Republica Dominica la cual permite a los usuarios saber los costos de los puertos y cargas y poder calcularla en la misma APP",
        ios: "https://apps.apple.com/do/app/autoridad-portuaria-dominicana/id6479921366?l=en-GB",
        android:
            "https://play.google.com/store/apps/details?id=com.solvex.apordom&pcampaignid=web_share",
        image: "/projects/apordom.webp",
        tags: [TAGS.REACT_NATIVE, TAGS.EXPO, TAGS.TYPESCRIPT],
    },
    {
        title: "Mi Siembra - App para administar tu fondo de pensiones",
        description:
            "Con esta aplicación tendrás la facilidad de consultar, desde cualquier lugar, el balance de tu Cuenta de Pensión, actualizar tus datos personales, activar los servicios de notificación de balance y aportes y otros servicios más.",
        ios: "https://apps.apple.com/do/app/mi-siembra/id1495099098?l=en-GB",
        android:
            "https://play.google.com/store/apps/details?id=com.appmovil.siembra&pcampaignid=web_share",
        image: "/projects/siembra.webp",
        tags: [TAGS.REACT_NATIVE, TAGS.TYPESCRIPT, TAGS.FIREBASE],
    },

    {
        title: "App Humano",
        description:
            "App humano es la aplicación que te permite acceder a los servicios de Humano que te permite Realizar consultas medicas de forma virtual, pagar polizas de seguros y solicitar medicamentos en tu ubicación",
        ios: "https://apps.apple.com/do/app/humano/id905470413?l=en-GB",
        android:
            "https://play.google.com/store/apps/details?id=com.arshumano.app.android&pcampaignid=web_share",
        image: "/projects/humano.webp",
        tags: [TAGS.REACT_NATIVE, TAGS.JS],
    },
];
---

<SectionContainer id="proyectos">
    <div class="flex flex-col gap-y-16">
        <h2
            class="text-3xl font-semibold flex gap-x-3 items-center text-gray-100"
        >
            <Briefcase class="size-7" />
            Proyectos
        </h2>
        {
            PROJECTS.map(
                ({ image, title, description, tags, ios, android }) => (
                    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                        <div class="w-full md:w-1/2">
                            <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                                <img
                                    alt="Recién llegado vs 5 años en Nueva Zelanda"
                                    class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                                    loading="lazy"
                                    src={image}
                                />
                            </div>
                        </div>

                        <div class="w-full md:w-1/2 md:max-w-lg">
                            <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                                {title}
                            </h3>
                            <div class="flex flex-wrap mt-2">
                                <ul class="flex flex-row mb-2 gap-x-2">
                                    {tags.map((tag) => (
                                        <li>
                                            <span
                                                class={`flex gap-x-2 rounded-full text-sm ${tag.class} py-1 px-2 `}
                                            >
                                                <tag.icon class="size-5" />
                                                {tag.name}
                                            </span>
                                        </li>
                                    ))}
                                </ul>

                                <div class="mt-2 text-gray-700 dark:text-gray-400">
                                    {description}
                                </div>
                                <footer class="flex items-end justify-start mt-4 gap-x-4">
                                    {ios && (
                                        <LinkButton href={ios}>
                                            <AppStore class="w-4 h-4 mb-1" />
                                            IOS
                                        </LinkButton>
                                    )}
                                    {android && (
                                        <LinkButton href={android}>
                                            <PlayStore class="size-4" />
                                            Android
                                        </LinkButton>
                                    )}
                                </footer>
                            </div>
                        </div>
                    </article>
                ),
            )
        }
    </div>
</SectionContainer>
